{
  "solana": {
    "type": "collateral",
    "token": "${WARP_TOKEN_MINT}",
    "name": "USDC",
    "symbol": "USDC",
    "decimals": 6
  },
  "gorchain": {
    "type": "synthetic",
    "name": "USDC",
    "symbol": "USDC",
    "decimals": 6,
    "uri": "${WARP_TOKEN_METADATA_URI}"
  }
}
