[defaults]
roles_path = ./roles
collections_path = ./collections
inventory = ./inventories/prod/hosts.yml
host_key_checking = True
retry_files_enabled = False
stdout_callback = yaml
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
